{% extends 'base.html.twig' %}

{% block title %}Edit Navigation{% endblock %}

{% block body %}

    {{ include('navigation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_navigation_index') }}">back to list</a>

    {{ include('navigation/_delete_form.html.twig') }}
{% endblock %}
